name: CI Pipeline

on:
  push:
    branches: [ main ]  # Запускать только при пуше в ветку main

jobs:
  build:
    runs-on: ubuntu-latest  # Используем GitHub-hosted runner с Ubuntu

    steps:
      - uses: actions/checkout@v3  # Клонирует код из репозитория

      - name: install dependencies
        run: npm ci

      - name: Lint codebase
        run: npm run lint

      - name: Run tests
        run: npm test

      - name: Логин в Docker Hub
        run: echo "${{ secrets.DOCKER_PASS }}" | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin

      - name: Сборка Docker-образа
        run: docker build -t ${{ secrets.DOCKER_USER }}/devops-node-starter:${{ github.sha }} .

      - name: Публикация Docker-образа
        run: docker push ${{ secrets.DOCKER_USER }}/devops-node-starter:${{ github.sha }}
